In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

#importing the required libraries into Python

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [63]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(3)

#Entering Data into Search Bars :-
search_field_designation=driver.find_element(By.CLASS_NAME, "suggestor-input") 
search_field_location=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input') 
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")

#Clicking the search button:-
search_button=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_button.click()
time.sleep(3)

#Creating empty lists for scraping data and use the scraped data to make DataFrame:-
job_title=[]
job_location=[]
company_name=[]
experience_required=[]


#Scraping the job-titles:-
title=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in title[0:10]:
    title=i.text
    job_title.append(title)
time.sleep(3)

#scraping the job-location:-
location=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in location[0:10]:
    location=i.text
    job_location.append(location)
time.sleep(3)

#scraping the company_name:-
company=driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")
for i in company[0:10]:
    company=i.text
    company_name.append(company)
time.sleep(3)

#scraping the experience_required:-
experience=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience[0:10]:
    experience=i.text
    experience_required.append(experience)
time.sleep(3)

# creating the dataframe from the scraped data and taking only first 10 jobs:-
JOBS=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
JOBS

,experience_required,company_name,job_location,job_title
0,3-6 Yrs,KrazyBee,Bangalore/Bengaluru(Old Madras Road),Senior Data Analyst
1,6-11 Yrs,Global Indian School Education Services,"Bangalore/Bengaluru, Pune",Sr. Data Analyst
2,6-8 Yrs,Accenture,Bangalore/Bengaluru,Master Data Management Business Analyst
3,5-7 Yrs,Optum,Bangalore/Bengaluru,Senior Data Analyst
4,0-1 Yrs,FullStackTechies,Bangalore/Bengaluru,Intern Data Analyst
5,0-2 Yrs,iMindYourBusiness,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Data Analyst - Python/Artificial Intelligence
6,0-2 Yrs,Bright Money,Bangalore/Bengaluru,Data Analyst
7,2-5 Yrs,Bayer,Bangalore/Bengaluru,Data Analyst
8,0-1 Yrs,Info Origin Inc.,Bangalore/Bengaluru,Leap COE Intern(Data Analyst)
9,3-8 Yrs,Concentrix,"Bangalore/Bengaluru, Gurgaon/Gurugram",Forecasting Analyst/ Data Scientist (US Client)

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [65]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(3)

# entering Data into Search Bars :-
search_field_designation=driver.find_element(By.CLASS_NAME, "suggestor-input") 
search_field_location=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input') 
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")

# clicking the search button:-
search_button=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_button.click()
time.sleep(3)

# creating empty lists for scraping data and use the scraped data to make DataFrame:-
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scraping the job-titles:-
title=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in title[0:10]:
    title=i.text
    job_title.append(title)
time.sleep(3)

#scraping the job-location:-
location=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in location[0:10]:
    location=i.text
    job_location.append(location)
time.sleep(3)

#scraping the company_name:-
company=driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")
for i in company[0:10]:
    company=i.text
    company_name.append(company)
time.sleep(3)

#scraping the experience_required:-
experience=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience[0:10]:
    experience=i.text
    experience_required.append(experience)
time.sleep(3)

# creating the dataframe from the scraped data and taking only first 10 jobs:-
JOBS=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
JOBS

,experience_required,company_name,job_location,job_title
0,3-8 Yrs,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",Tcs Hiring For Data Scientist
1,5-12 Yrs,PwC,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Senior Manager - EmTech - Machine Learning - P&T
2,5-9 Yrs,CitiusTech,"Bangalore/Bengaluru, Mumbai, Pune",Assistant Manager - Data Science
3,6-8 Yrs,Accenture,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Analystics & Modeling Specialist
4,9-14 Yrs,TATA CONSULTANCY SERVICES (TCS),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",Data scientist _Tata Consultancy Services(Tcs)
5,5-10 Yrs,Wipro,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Job||Job Opening For AI Technologist - Data Sc...
6,4-9 Yrs,NTT DATA Business Solutions Private Limited,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Hiring For DATA Scientist @ NTT DATA Business ...
7,11-20 Yrs,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Urgent Job Opening For AI Practitioner - Data ...
8,7-12 Yrs,Concentrix,Bangalore/Bengaluru,Data Scientist
9,3-8 Yrs,Concentrix,"Bangalore/Bengaluru, Gurgaon/Gurugram",Forecasting Analyst/ Data Scientist (US Client)

Q3: In this question you have to scrape data using the filters available on the
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [70]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(3)

# entering Data into Search Bars :-
search_field_designation=driver.find_element(By.CLASS_NAME, "suggestor-input") 
search_field_location=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input') 
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Delhi/NCR")

# clicking the search button:-
search_button=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search_button.click()
time.sleep(3)

# finding the salary check box:-
slry_box = driver.find_element(By.XPATH, "/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
slry_box.click()
time.sleep(3)

# creating empty lists for scraping data and use the scraped data to make DataFrame:-
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scraping the job-titles:-
title=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in title[0:10]:
    title=i.text
    job_title.append(title)
time.sleep(3)

#scraping the job-location:-
location=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in location[0:10]:
    location=i.text
    job_location.append(location)
time.sleep(3)

#scraping the company_name:-
company=driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")
for i in company[0:10]:
    company=i.text
    company_name.append(company)
time.sleep(3)

#scraping the experience_required:-
experience=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience[0:10]:
    experience=i.text
    experience_required.append(experience)
time.sleep(3)

# creating the dataframe from the scraped data and taking only first 10 jobs:-
DELHI_NCR_JOBS=pd.DataFrame({"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10], "experience_required":experience_required[0:10]})
DELHI_NCR_JOBS

,company_name,job_location,job_title,experience_required
0,Wipro,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Job||Job Opening For AI Technologist - Data Sc...,5-10 Yrs
1,EXL,"Noida, Bangalore/Bengaluru",Data Scientist - Noida/Bangalore,5-10 Yrs
2,Gojek,Bangalore/Bengaluru,Data Scientist - Risk Platform,5-11 Yrs
3,Infosys,Bangalore/Bengaluru,Data Scientist,2-7 Yrs
4,Applied Materials,Bangalore/Bengaluru,Data Scientist,2-4 Yrs
5,Applied Materials,Bangalore/Bengaluru,Data Scientist,4-7 Yrs
6,Applied Materials,Bangalore/Bengaluru,Data Scientist,2-4 Yrs
7,Gojek,Bangalore/Bengaluru,Decision Scientist,4-9 Yrs
8,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",DigitalBCG GAMMA Data Scientist,2-5 Yrs
9,Optum,Chennai,I O Engineering Analyst,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual.

In [136]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(3)

# entering Data into Search Bars :-
location=driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
location.send_keys('sunglasses')

# clicking the search button:-
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

# creating empty lists for scraping data and use the scraped data to make DataFrame:-
brand=[]
product_description=[]
price=[]
discount=[]
time.sleep(3)

#scrapping the required details:-

start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements(By.CLASS_NAME, '_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
    prices=driver.find_elements(By.XPATH, "//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements(By.XPATH, "//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements(By.XPATH, "//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

time.sleep(3)   

#creating a dataframe:-

Flipkart=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})

Flipkart

,Brand,Description,Price,Discount
0,Fair-x,Casual Sneakers White Shoes For Girls And Wome...,₹360,75% off
1,Fair-x,Stylish Casual Sports Shoe Sneakers For Women ...,₹360,75% off
2,Fastrack,X-Ray 2 Square Sneakers For Men (White),₹799,20% off
3,New Specs,Sneakers For Men (Black),₹264,89% off
4,Elligator,JFWHUNTER SUEDE WINTER WHITE NOOS IN Sneakers ...,₹298,88% off
...,...,...,...,...
95,VINCENT CHASE,"Mirrored, Riding Glasses, UV Protection Sports...",₹360,75% off
96,New Specs,UV Protection Sports Sunglasses (Free Size),₹949,52% off
97,Hamiw,UV Protection Wayfarer Sunglasses (Free Size),₹189,88% off
98,ROYAL SON,UV Protection Rectangular Sunglasses (Free Size),₹249,83% off
99,Dannilo,UV Protection Round Sunglasses (54),₹664,66% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.
You will reach to the below shown webpage
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [7]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(3)

# entering Data into Search Bars :-
location=driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
location.send_keys('iphone 11')

# clicking the search button:-
submit=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
submit.click()

# creating empty lists for scraping data and use the scraped data to make DataFrame:-
rating=[]
review_summary=[]
full_review=[]

# Taking 10 pages into consideration using for loop
url=driver.find_elements(By.XPATH, '//div[@class="_4rR01T"]')
url[0:10]
for i in url[0:10]:
    print(i.get_attribute('href'))
    for j in driver.find_elements(By.XPATH, "//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(j.text)
    
    for k in driver.find_elements(By.XPATH, "//p[@class='_2-N8zT']"):
        review_summary.append(k.text)

    for l in driver.find_elements(By.XPATH, "//div[@class='t-ZTKy']/div/div"):
        full_review.append(l.text)
    
#creating a dataframe:-
IPhone11=pd.DataFrame({'Rating':rating, 'Review Summary':full_review, 'Full Review':full_review})
IPhone11

Empty DataFrame
Columns: [Rating, Review Summary, Full Review]
Index: []

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [152]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(3)

# entering Data into Search Bars :-
location=driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
location.send_keys('sneakers')

# clicking the search button:-
submit=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
submit.click()

# creating empty lists for scraping data and use the scraped data to make DataFrame:-
brand=[]
description=[]
price=[]
discount=[]
time.sleep(3)


# scrapping the required details:-
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements(By.CLASS_NAME, '_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements(By.XPATH, "//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements(By.XPATH, "//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements(By.XPATH, "//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
        
        
time.sleep(2)

# Since in some records not getting description so try from inside of urls
urls = []

for page in range(start,end):#for loop for scrapping 4 page
    
    product_url = driver.find_elements(By.XPATH, "//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    
    nxt_button=driver.find_elements(By.XPATH, "//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
time.sleep(2)

for i in urls:
    driver.get(i)
    desc=driver.find_elements(By.XPATH, '//span[@class="B_NuCI"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
time.sleep(2)        
time.sleep(3)

#creating a dataframe:-
Sneakers=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})

Sneakers

,Brand,Description,Price,Discount
0,Layasa,Comfortable Premium Stylish Unique Trendy Popu...,₹228,77% off
1,Chevit,Sneakers For Men (Black),₹544,71% off
2,Layasa,ShoesForGirlsStylishLatestFashionSportsCasualC...,₹349,65% off
3,Magnolia,Sneakers For Women (Multicolor),₹374,62% off
4,KWIK FIT,Latest Collection Sneakers For Women (White),₹397,80% off
...,...,...,...,...
95,Chevit,"Sneakers For Women (White, Pink)",₹327,79% off
96,Sparx,Sneakers For Women (White),₹756,15% off
97,Chevit,Sneakers For Men (White),₹499,72% off
98,PUMA,Solid Design Casual shoes For Girl's & Women's...,"₹2,400",49% off
99,Numenzo,Stylish & Trending Outdoor Walking Comfortable...,₹599,40% off

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [ ]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

url = "https://www.myntra.com/shoes"
driver.get(url)
time.sleep(3)

#clicking on price filter:-
price_button = driver.find_element(By.XPATH, "element")
price_button.click()

#clicking on black color filter:-
black_color_button = driver.find_element(By.XPATH, "element")
black_color_button.click()


#creating empty lists:-
shoe_names=[]
s_desc=[]
short_desc=[]
price=[]
page_urls = []

time.sleep(4)

# scrape next pages urls:-
nxt_page = driver.find_elements(By.XPATH, "element")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    

for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements(By.XPATH, "ELEMENT")  #for scrapping shoe brand names
    for i in Names:
        shoe_names.append(i.text)
    
    desc=driver.find_elements(By.XPATH, "ELEMENT") #for scrapping shoe short-description
    for i in desc:
        s_desc.append(i.text)
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    rs=driver.find_elements(By.XPATH, "ELEMENT")  #for scrapping shoe prices
    for i in rs:
        price.append(i.text)    
        
Shoes=pd.DataFrame({'Brand': shoe_names[0:100],'Short-description': short_desc[0:100],'Price': price[0:100]})
Shoes

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [8]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

url = "https://www.amazon.in/"
driver.get(url)
time.sleep(3)

#locating search bar:-
location=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
location.send_keys('laptop')
search=driver.find_element(By.CLASS_NAME,"nav-search-submit")
search.click()

#creating the empty list:-
Title=[]
Ratings=[]
price=[]

#locating the core i7 filter:-
filter_button=driver.find_elements(By.XPATH, "//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

#Scrapping Titles:-
titles=driver.find_elements(By.XPATH, "//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
#scrapping Price:-
prices=driver.find_elements(By.XPATH, "//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

#locating Ratings:-
urls=driver.find_elements(By.XPATH, "//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found
        rating=driver.find_element(By.XPATH, "//span[@class='a-size-base a-nowrap']//span")#locating the rating
        ratings.append(i.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        ratings.append("NO rating")#appending the No rating if no rating is there
        
#creating a dataframe:-
Laptop=pd.DataFrame({"Title":Title, "Price":price, "Ratings":Ratings})
Laptop

ValueError: All arrays must be of the same length

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [109]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

driver.get("https://www.ambitionbox.com")

#Entering Data into Search Bars :-
search=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
search.click()
search_field_designation=driver.find_element(By.XPATH, "/html/body/div[1]/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input") 
search_field_designation.send_keys("Data Scientist")
search_button=driver.find_element(By.XPATH, "/html/body/div[1]/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_button.click()
search_location=driver.find_element(By.XPATH, "//title[@class='Location']")
search_location.click()    
search_field_designation=driver.find_element(By.CLASS_NAME, "data-v-3afdbeb9") 
search_field_designation.send_keys("Noida")

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//title[@class='Location']"}
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x01165FD3+2187219]
	Ordinal0 [0x010FE6D1+1763025]
	Ordinal0 [0x01013E78+802424]
	Ordinal0 [0x01041C10+990224]
	Ordinal0 [0x01041EAB+990891]
	Ordinal0 [0x0106EC92+1174674]
	Ordinal0 [0x0105CBD4+1100756]
	Ordinal0 [0x0106CFC2+1167298]
	Ordinal0 [0x0105C9A6+1100198]
	Ordinal0 [0x01036F80+946048]
	Ordinal0 [0x01037E76+949878]
	GetHandleVerifier [0x014090C2+2721218]
	GetHandleVerifier [0x013FAAF0+2662384]
	GetHandleVerifier [0x011F137A+526458]
	GetHandleVerifier [0x011F0416+522518]
	Ordinal0 [0x01104EAB+1789611]
	Ordinal0 [0x011097A8+1808296]
	Ordinal0 [0x01109895+1808533]
	Ordinal0 [0x011126C1+1844929]
	BaseThreadInitThunk [0x7660FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77137A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77137A6E+238]

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [10]:
driver=webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

driver.get("https://www.ambitionbox.com")

#Entering Data into Search Bars :-
search=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]")
search.click()
search=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/a")
search.click()
search_designation=driver.find_element(By.XPATH, "/html/body/div[1]/div/div/div[2]/div/div/div/div[1]/span/input")
search_designation.send_keys("Data Scientist")
search_designation.click()
select_search=driver.find_element(By.XPATH, "/html/body/div[1]/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/div/div[2]/div[2]/div[2]/div/p")
select_search.click()
search_button=driver.find_element(By.CLASS_NAME, "ctas-btn-medium")
search_button.click()

#creating the empty list:-
company_name=[]
number_of_salaries=[]
average_salary=[]
min_salary=[]
max_salary=[]
experience_required=[]

#Scraping the company name:-
company=driver.find_elements(By.XPATH, "//a[@class='TCS Data Scientist Salary']")
for i in company[0:10]:
    company=i.text
    company_name.append(title)
time.sleep(3)

#scraping the salaries:-
salaries=driver.find_elements(By.XPATH, "//li[@class='salary-datapoints']/span[1]")
for i in salaries[0:10]:
    salaries=i.text
    number_of_salaries.append(location)
time.sleep(3)

#scraping the salaries:-
average_salary=driver.find_elements(By.XPATH, "//p[@class='averageCtc']")
for i in average_salary[0:10]:
    average_salary=i.text
    average_salary.append(location)
time.sleep(3)

#scraping the min salary:-
min_salary=driver.find_elements(By.XPATH, "//div[@class='value body-medium']/div[1]")
for i in min_salary[0:10]:
    min_salary=i.text
    min_salary.append(company)
time.sleep(3)

#scraping the max salary:-
max_salary=driver.find_elements(By.XPATH, "//div[@class='value body-medium']/div[2]")
for i in max_salary[0:10]:
    max_salary=i.text
    max_salary.append(company)
time.sleep(3)

#scraping the experience_required:-
experience=driver.find_elements(By.XPATH, "//li[@class='data-v-b24b8478']/span[1]")
for i in experience[0:10]:
    experience=i.text
    experience_required.append(experience)
time.sleep(3)

#creating a dataframe:-
Laptop=pd.DataFrame({"Company Name":company_name, "Number of Salaires":number_of_salaries, "Average Salary":average_salary, "Min Salary":min_salary, "Max Salary":max_salary, "Experience Required":experience_required})
Laptop

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/div/div[2]/div[2]/div[2]/div/p"}
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00B85FD3+2187219]
	Ordinal0 [0x00B1E6D1+1763025]
	Ordinal0 [0x00A33E78+802424]
	Ordinal0 [0x00A61C10+990224]
	Ordinal0 [0x00A61EAB+990891]
	Ordinal0 [0x00A8EC92+1174674]
	Ordinal0 [0x00A7CBD4+1100756]
	Ordinal0 [0x00A8CFC2+1167298]
	Ordinal0 [0x00A7C9A6+1100198]
	Ordinal0 [0x00A56F80+946048]
	Ordinal0 [0x00A57E76+949878]
	GetHandleVerifier [0x00E290C2+2721218]
	GetHandleVerifier [0x00E1AAF0+2662384]
	GetHandleVerifier [0x00C1137A+526458]
	GetHandleVerifier [0x00C10416+522518]
	Ordinal0 [0x00B24EAB+1789611]
	Ordinal0 [0x00B297A8+1808296]
	Ordinal0 [0x00B29895+1808533]
	Ordinal0 [0x00B326C1+1844929]
	BaseThreadInitThunk [0x7711FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77B37A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77B37A6E+238]